/* add CSS class and element and selectors here */
body {
  font-size: 300%;
  background-color: blue;
}

.sample{
  font-size: 200%;
  color:#B4FFFF;
  border: solid 10px;
  background-color:white;
}

#spongebob{
  margin-left: auto;
  margin-right: auto;
  width:50%;
}